services:
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"
  backend:
    build: ./backend_new
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - "./backend_new/.env.local"
  frontend:
    build: ./Cinebook
    ports:
      - "3000:3000"
    depends_on:
      - backend